
body{
    text-align: center;
    font-family: sans-serif;
    background: url(JP7.jpg);   
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}
h1{
    color: #fff;
}
.logo{
    display: flex;
}
.logo img{
    height: 80px;
}
h2{
    text-align: center;
    font-family: sans-serif;
    color: #14f80c
}
p{
    color: #fff700
}
header{
    display: flex;
    justify-content: center;
    padding: 30px 10px 20px;
    background: #171717;
}
.islaA{
    display: inline-block;
    background:url(ISLA\superman1.jpg);
    color: #fff705;
    padding: 250px 250px;
    text-decoration: none;
}
.islaA:hover{
    background: url(logotipo\superman-balck\(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.islaB{
    display: inline-block;
    background:url(ISLA\ JP1.jpg);
    color: #fff705;
    padding: 250px 250px;
    text-decoration: none;
}
.islaB:hover{
    background:url(logotipo\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite
    alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 80%;
    height: 80%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.privado{
    background-color: #000000;
}
.privado a{
    text-decoration: none;
    color: #000000;
    padding: 10px;
}
.privado a:hover{
    background-color: #fff700;
    color: #000000;
}
